In [185]:
from xgboost import XGBClassifier
from xgboost import DMatrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import scale
from sklearn import datasets
from sklearn import decomposition
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.svm import SVC
import pandas as pd
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.feature_selection import chi2
from sklearn.pipeline import Pipeline
from sklearn.grid_search import GridSearchCV
from sklearn import preprocessing
%pylab inline
from pandas.tools.plotting import scatter_matrix

Populating the interactive namespace from numpy and matplotlib

In [67]:
result = pd.read_csv("/Users/alexegg/Downloads/panel_stores_products_demos_8_11.csv")

In [68]:
df=result
df.head()

,panid,week,minute,units,outlet,dollars,iri_key,colupc,ou,est_acv,...,race2,race3,microwave,device_type,zipcode,fipscode,market_based_upon_zipcode,iri_geography_number,ext_fact,cnt
0,1116608,1607,9587,2,DK,4.38,642166,11600014690,DR,1.674999,...,1,1,1,0,1201,25003,204,1,1,4
1,1408492,1632,8079,1,DK,1.12,642166,11600015840,DR,1.674999,...,1,1,1,0,1201,25003,204,1,1,4
2,1809632,1584,6998,2,DK,2.72,642166,11600015840,DR,1.674999,...,1,1,1,0,1201,25003,204,1,1,4
3,1809632,1604,6626,4,DK,5.32,642166,11600015990,DR,1.674999,...,1,1,1,0,1201,25003,204,1,1,4
4,1163584,1615,651,2,DK,3.00,642166,11600016490,DR,1.674999,...,1,1,1,0,1201,25003,204,1,1,4

In [69]:
df.set_index("panid", inplace=True)
df.head()

,week,minute,units,outlet,dollars,iri_key,colupc,ou,est_acv,marketname,...,race2,race3,microwave,device_type,zipcode,fipscode,market_based_upon_zipcode,iri_geography_number,ext_fact,cnt
panid,,,,,,,,,,,,,,,,,,,,,
1116608,1607,9587,2,DK,4.38,642166,11600014690,DR,1.674999,PITTSFIELD,...,1,1,1,0,1201,25003,204,1,1,4
1408492,1632,8079,1,DK,1.12,642166,11600015840,DR,1.674999,PITTSFIELD,...,1,1,1,0,1201,25003,204,1,1,4
1809632,1584,6998,2,DK,2.72,642166,11600015840,DR,1.674999,PITTSFIELD,...,1,1,1,0,1201,25003,204,1,1,4
1809632,1604,6626,4,DK,5.32,642166,11600015990,DR,1.674999,PITTSFIELD,...,1,1,1,0,1201,25003,204,1,1,4
1163584,1615,651,2,DK,3.00,642166,11600016490,DR,1.674999,PITTSFIELD,...,1,1,1,0,1201,25003,204,1,1,4

## Feature Selection

remove the product related columsn b/c that is what i'm training against:

In [127]:
all_columns = set(df.columns)
product_columns = set(['upc2',
 'l1',
 'l2',
 'l3',
 'l4',
 'l5',
 'vol_eq',
 'product_type',
 'events','colupc', 'cnt'])

#these columns are not usefull in predicting what a user will buy -- we only know this AFTER the transaction
#we want to predict before the transaction what will happen
transaction_columns = set(["dollars", "units"])

#some columns are obsolete per documentation
obsolete_columns = set(["hisp_cat", "hispanic_flag", "race2", "market_based_upon_zipcode",
                       "male_smoke", "microwave"])

#redundant columns
redundant_columns = set(["outlet"])

#invalid columns
#panelist_id cannot be used to make prediction
#year may not be usefull for predictions in the future...
invalid_columns = set(["panelist_id"])

useless_columns = set([ "year", "open", "clsd", "marketname", "est_acv", "county", "ext_fact"])

diff = all_columns - product_columns - transaction_columns - obsolete_columns - redundant_columns - invalid_columns - useless_columns

features = df[list(diff)].copy()
features.head()

,fem_smoke,education_level_reached_by_male_hh,type_of_residential_possession,household_head_race,hh_lang,race3,minute_by_day,device_type,family_size,panelist_type,...,hour,weekday_weekend,marital_status,time_of_day_2,day_of_week,time_of_day,combined_pre_tax_income_of_hh,occupation_code_of_household_head,ou,quarter
panid,,,,,,,,,,,,,,,,,,,,,
1116608,0,4,1,1,0,1,947,0,1,0,...,16,weekend,2,03_afternoon,07_Sunday,02_during_office_hours,6,9,DR,Q2
1408492,1,5,1,1,0,1,879,0,4,0,...,15,weekend,1,03_afternoon,06_Saturay,02_during_office_hours,11,1,DR,Q4
1809632,0,5,1,1,0,1,1238,0,4,0,...,21,weekday,1,05_night,05_Friday,03_after_office_hours,11,8,DR,Q1
1809632,0,5,1,1,0,1,866,0,4,0,...,15,weekday,1,03_afternoon,05_Friday,02_during_office_hours,11,8,DR,Q2
1163584,0,5,1,1,0,1,651,0,4,0,...,11,weekday,1,02_between_10_and_noon,01_Monday,02_during_office_hours,10,3,DR,Q3

In [128]:
features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 461025 entries, 1116608 to 1232694
Data columns (total 41 columns):
fem_smoke                                    461025 non-null float64
education_level_reached_by_male_hh           461025 non-null int64
type_of_residential_possession               461025 non-null int64
household_head_race                          461025 non-null int64
hh_lang                                      461025 non-null int64
race3                                        461025 non-null int64
minute_by_day                                461025 non-null int64
device_type                                  461025 non-null int64
family_size                                  461025 non-null int64
panelist_type                                461025 non-null int64
cabl_tvs                                     461025 non-null float64
fipscode                                     461025 non-null int64
iri_key                                      461025 non-null int64
female_working_hour_code                     461025 non-null int64
zipcode                                      461025 non-null int64
male_working_hour_code                       461025 non-null int64
education_level_reached_by_female_hh         461025 non-null int64
all_tvs                                      461025 non-null float64
week_number                                  461025 non-null int64
occupation_code_of_male_hh                   461025 non-null int64
occupation_code_of_female_hh                 461025 non-null int64
number_of_cats                               461025 non-null int64
week                                         461025 non-null int64
number_of_dogs                               461025 non-null int64
age_group_applied_to_female_hh               461025 non-null int64
education_level_reached_by_household_head    458879 non-null float64
age_group_applied_to_male_hh                 461025 non-null int64
age_group_applied_to_household_head          458875 non-null float64
children_group_code                          461025 non-null int64
minute                                       461025 non-null int64
iri_geography_number                         461025 non-null int64
hour                                         461025 non-null int64
weekday_weekend                              461025 non-null object
marital_status                               461025 non-null int64
time_of_day_2                                461025 non-null object
day_of_week                                  461025 non-null object
time_of_day                                  461025 non-null object
combined_pre_tax_income_of_hh                460875 non-null float64
occupation_code_of_household_head            458867 non-null float64
ou                                           396452 non-null object
quarter                                      461025 non-null object
dtypes: float64(7), int64(28), object(6)
memory usage: 147.7+ MB

In [129]:
fem_smoke_dist = lambda: np.random.choice([0,1], p=[0.832,0.168])
features.fem_smoke.fillna(fem_smoke_dist(), inplace=True)
features.all_tvs.fillna(-1, inplace=True)
features.cabl_tvs.fillna(-1, inplace=True)

outlet_dist = lambda: np.random.choice(["GK", "GR", "DR"], p=[0.902, .091, 0.04])
features.ou.fillna(outlet_dist, inplace=True)

features.education_level_reached_by_household_head.fillna(99, inplace=True)
features.age_group_applied_to_household_head.fillna(99, inplace=True)
features.combined_pre_tax_income_of_hh.fillna(99, inplace=True)
features.occupation_code_of_household_head.fillna(99, inplace=True)

In [130]:
features.head()

,fem_smoke,education_level_reached_by_male_hh,type_of_residential_possession,household_head_race,hh_lang,race3,minute_by_day,device_type,family_size,panelist_type,...,hour,weekday_weekend,marital_status,time_of_day_2,day_of_week,time_of_day,combined_pre_tax_income_of_hh,occupation_code_of_household_head,ou,quarter
panid,,,,,,,,,,,,,,,,,,,,,
1116608,0,4,1,1,0,1,947,0,1,0,...,16,weekend,2,03_afternoon,07_Sunday,02_during_office_hours,6,9,DR,Q2
1408492,1,5,1,1,0,1,879,0,4,0,...,15,weekend,1,03_afternoon,06_Saturay,02_during_office_hours,11,1,DR,Q4
1809632,0,5,1,1,0,1,1238,0,4,0,...,21,weekday,1,05_night,05_Friday,03_after_office_hours,11,8,DR,Q1
1809632,0,5,1,1,0,1,866,0,4,0,...,15,weekday,1,03_afternoon,05_Friday,02_during_office_hours,11,8,DR,Q2
1163584,0,5,1,1,0,1,651,0,4,0,...,11,weekday,1,02_between_10_and_noon,01_Monday,02_during_office_hours,10,3,DR,Q3

In [131]:
features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 461025 entries, 1116608 to 1232694
Data columns (total 41 columns):
fem_smoke                                    461025 non-null float64
education_level_reached_by_male_hh           461025 non-null int64
type_of_residential_possession               461025 non-null int64
household_head_race                          461025 non-null int64
hh_lang                                      461025 non-null int64
race3                                        461025 non-null int64
minute_by_day                                461025 non-null int64
device_type                                  461025 non-null int64
family_size                                  461025 non-null int64
panelist_type                                461025 non-null int64
cabl_tvs                                     461025 non-null float64
fipscode                                     461025 non-null int64
iri_key                                      461025 non-null int64
female_working_hour_code                     461025 non-null int64
zipcode                                      461025 non-null int64
male_working_hour_code                       461025 non-null int64
education_level_reached_by_female_hh         461025 non-null int64
all_tvs                                      461025 non-null float64
week_number                                  461025 non-null int64
occupation_code_of_male_hh                   461025 non-null int64
occupation_code_of_female_hh                 461025 non-null int64
number_of_cats                               461025 non-null int64
week                                         461025 non-null int64
number_of_dogs                               461025 non-null int64
age_group_applied_to_female_hh               461025 non-null int64
education_level_reached_by_household_head    461025 non-null float64
age_group_applied_to_male_hh                 461025 non-null int64
age_group_applied_to_household_head          461025 non-null float64
children_group_code                          461025 non-null int64
minute                                       461025 non-null int64
iri_geography_number                         461025 non-null int64
hour                                         461025 non-null int64
weekday_weekend                              461025 non-null object
marital_status                               461025 non-null int64
time_of_day_2                                461025 non-null object
day_of_week                                  461025 non-null object
time_of_day                                  461025 non-null object
combined_pre_tax_income_of_hh                461025 non-null float64
occupation_code_of_household_head            461025 non-null float64
ou                                           461025 non-null object
quarter                                      461025 non-null object
dtypes: float64(7), int64(28), object(6)
memory usage: 147.7+ MB

In [137]:
variance=features.var()

In [140]:
variance.sort_values(ascending=False)

iri_key                                      1.419841e+13
zipcode                                      7.153580e+08
fipscode                                     2.254135e+08
minute                                       8.212163e+06
minute_by_day                                4.029013e+04
week                                         3.739792e+03
hh_lang                                      1.736483e+03
occupation_code_of_household_head            4.899218e+02
occupation_code_of_female_hh                 4.233370e+02
occupation_code_of_male_hh                   2.576069e+02
education_level_reached_by_household_head    2.450876e+02
female_working_hour_code                     2.293012e+02
week_number                                  2.240877e+02
education_level_reached_by_female_hh         2.001861e+02
male_working_hour_code                       1.327294e+02
education_level_reached_by_male_hh           1.322453e+02
all_tvs                                      6.626839e+01
age_group_applied_to_household_head          4.266716e+01
household_head_race                          4.189111e+01
race3                                        4.011460e+01
marital_status                               2.460968e+01
combined_pre_tax_income_of_hh                1.472706e+01
hour                                         1.126701e+01
panelist_type                                8.292742e+00
children_group_code                          4.525492e+00
device_type                                  2.062022e+00
age_group_applied_to_male_hh                 1.844171e+00
cabl_tvs                                     1.697135e+00
family_size                                  1.695067e+00
age_group_applied_to_female_hh               1.397273e+00
iri_geography_number                         9.997278e-01
number_of_dogs                               1.741475e-01
number_of_cats                               1.547883e-01
type_of_residential_possession               1.468108e-01
fem_smoke                                    1.205135e-01
dtype: float64

Lets remove some of the features that don't contribute a lot of variance

In [196]:
high_var_features = ["iri_key", "zipcode", "minute", "minute_by_day", 
                     "week", "hh_lang", "occupation_code_of_household_head"]
features2 = features
print features.shape

(461025, 41)

In [197]:
#target encoder
target_column_name="l2"
target_column = df[target_column_name]
le = preprocessing.LabelEncoder()
le.fit(list(set(target_column.values)))
target = le.transform(target_column.values)

In [201]:
features3=pd.get_dummies(features2)
features3.shape

(461025, 62)

In [214]:
X_train, X_test, Y_train, Y_test = train_test_split(features3, target, test_size=0.25, random_state=4)
print (X_train.shape)

(345768, 62)

In [215]:
kbest = SelectKBest(f_classif)
pipeline = Pipeline([('kbest', kbest), ('rf', RandomForestClassifier())])
grid_search = GridSearchCV(pipeline, {'kbest__k': [1,5,10,20,30,40,50]})
grid_search.fit(X_train, Y_train)
print grid_search.best_estimator_
print grid_search.best_params_
print grid_search.score(X_test, Y_test)
#k=16, score: .451

Pipeline(steps=[('kbest', SelectKBest(k=10, score_func=<function f_classif at 0x105268398>)), ('rf', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False))])
{'kbest__k': 10}
0.446879582151

If I'm a male of this demographic `D` and i'm in store `iri_key` on `day_of_week` at `time_of_day`, I will probably by `l2`

* If I remove `year` I drop 6% in accuracy. However, i think I should remove this from the training set b/c I will never test against previous years...
* if I remove `HISP_CAT` I drop 4%, but I have to b/c it's all nill
* `vol_eq` contributres about 38% accuracy