In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from sklearn import preprocessing
from pandas.tools.plotting import scatter_matrix
%pylab inline

Populating the interactive namespace from numpy and matplotlib

### Translate week number to season and add  a new column for season

In [2]:
dir_path = "/media/mqh001/Data/DSE220_Project_Iris_dataset/IRITest/"
file1 = dir_path + "Year11/saltsnck/IRI_week_translation_2008_2017.xls"

In [3]:
week_season_translation = pd.read_excel(file1)
week_season_translation = week_season_translation[\
    ['IRI Week', u'Calendar week starting on',u'Calendar week ending on']]
week_season_translation.head()

   IRI Week Calendar week starting on Calendar week ending on
0      1479                2007-12-31              2008-01-06
1      1480                2008-01-07              2008-01-13
2      1481                2008-01-14              2008-01-20
3      1482                2008-01-21              2008-01-27
4      1483                2008-01-28              2008-02-03

In [4]:
#!/usr/bin/env python
from datetime import date, datetime

# if the date falls between March 21 and June 20, it is spring. Regardless of the year. 
Y = 2000 # dummy leap year to allow input X-02-29 (leap day)
seasons = [('winter', (date(Y,  1,  1),  date(Y,  3, 20))),
           ('spring', (date(Y,  3, 21),  date(Y,  6, 20))),
           ('summer', (date(Y,  6, 21),  date(Y,  9, 22))),
           ('fall', (date(Y,  9, 23),  date(Y, 12, 20))),
           ('winter', (date(Y, 12, 21),  date(Y, 12, 31)))]
    
def get_season(rawDate):
    aDate = rawDate
    #datetime.strptime(rawDate, '%Y-%m-%d')
    if isinstance(aDate, datetime):
        aDate = aDate.date()
    aDate = aDate.replace(year=Y)
    
    return next(season for season, (start, end) in seasons
                if start <= aDate <= end)

In [5]:
week_season_translation['season'] = week_season_translation['Calendar week starting on']
week_season_translation['season'] = week_season_translation['season'].apply(get_season)
print "week_season_translation.shape =", week_season_translation.shape
week_season_translation.head()

week_season_translation.shape = (522, 4)

   IRI Week Calendar week starting on Calendar week ending on  season
0      1479                2007-12-31              2008-01-06  winter
1      1480                2008-01-07              2008-01-13  winter
2      1481                2008-01-14              2008-01-20  winter
3      1482                2008-01-21              2008-01-27  winter
4      1483                2008-01-28              2008-02-03  winter

In [6]:
#week_season_translation.to_csv('week_season_translation.csv', encoding='utf-8')

In [7]:
def get_season_numeric(x):
    season_type = ['spring', 'summer', 'fall', 'winter']
    
    for idx, val in enumerate(season_type):
        if x==val:
            return idx + 1
        
    if type(x) == int:
        return x
    
week_season_translation['season numeric'] = week_season_translation['season'].apply(get_season_numeric)
week_season_translation.head()

,IRI Week,Calendar week starting on,Calendar week ending on,season,season numeric
0,1479,2007-12-31,2008-01-06,winter,4
1,1480,2008-01-07,2008-01-13,winter,4
2,1481,2008-01-14,2008-01-20,winter,4
3,1482,2008-01-21,2008-01-27,winter,4
4,1483,2008-01-28,2008-02-03,winter,4