In [51]:
from xgboost import XGBClassifier
from xgboost import DMatrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import scale
from sklearn import datasets
from sklearn import decomposition
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.svm import SVC
import pandas as pd
%pylab inline
from pandas.tools.plotting import scatter_matrix

Populating the interactive namespace from numpy and matplotlib

In [2]:
result = pd.read_csv("/Users/alexegg/Downloads/panel_stores_products_8_11.csv")

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df=result

In [5]:
df.set_index("panid", inplace=True)
df.ou.fillna("GR", inplace=True)

In [6]:
df.head()

,week,minute,units,outlet,dollars,iri_key,colupc,ou,est_acv,marketname,...,events,year,week_number,quarter,day_of_week,minute_by_day,hour,time_of_day,time_of_day_2,weekday_weekend
panid,,,,,,,,,,,,,,,,,,,,,
1116608,1607,9587,2,DK,4.38,642166,11600014690,DR,1.674999,PITTSFIELD,...,4,10,25,Q2,07_Sunday,947,16,02_during_office_hours,03_afternoon,weekend
1408492,1632,8079,1,DK,1.12,642166,11600015840,DR,1.674999,PITTSFIELD,...,4,10,50,Q4,06_Saturay,879,15,02_during_office_hours,03_afternoon,weekend
1809632,1584,6998,2,DK,2.72,642166,11600015840,DR,1.674999,PITTSFIELD,...,4,10,2,Q1,05_Friday,1238,21,03_after_office_hours,05_night,weekday
1809632,1604,6626,4,DK,5.32,642166,11600015990,DR,1.674999,PITTSFIELD,...,4,10,22,Q2,05_Friday,866,15,02_during_office_hours,03_afternoon,weekday
1163584,1615,651,2,DK,3.00,642166,11600016490,DR,1.674999,PITTSFIELD,...,4,10,33,Q3,01_Monday,651,11,02_during_office_hours,02_between_10_and_noon,weekday

In [7]:
print df.outlet.value_counts()
outlets=pd.get_dummies(df.ou)

GK    452594
DK      5871
MK      2560
Name: outlet, dtype: int64

In [45]:
features = df[["week_number", "iri_key", "ou", "day_of_week"]]
target = df[["l2"]]

In [46]:
oh=pd.get_dummies(features[["ou"]])

features_2 = pd.concat([features[["week_number", "iri_key"]], oh], axis=1)
features_2.head()

         week_number  iri_key  ou_DK  ou_DR  ou_GK  ou_GR  ou_MK
panid
1116608           25   642166      0      1      0      0      0
1408492           50   642166      0      1      0      0      0
1809632            2   642166      0      1      0      0      0
1809632           22   642166      0      1      0      0      0
1163584           33   642166      0      1      0      0      0

In [47]:
scaled = scale(features_2)

In [48]:
X_train, X_test, Y_train, Y_test = train_test_split(scaled, target, test_size=0.25, random_state=4)
print (X_train.shape)

(345768, 7)

so now I can predict what somebody will buy if they if they walk into

In [49]:
dtree = DecisionTreeClassifier()
dtree.fit(X_train, Y_train)
dtree.score(X_test, Y_test)

0.42376601854984947

In [50]:
rf = RandomForestClassifier()
rf.fit(X_train, Y_train)
rf.score(X_test, Y_test)

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from ipykernel import kernelapp as app

0.42357514077236091